<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'djangoapp/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body style= "background-color: #1f2937">
        <div class="contact_container">
            <h2>Contact</h2>
            <p> Checkout our contact details below. Check out our social media links above.</p>
            <ul class="contact">
                <li>Phone: +254791560183</li>
                <li>Email: kevinmushan@gmail.com</li>
                <li>GitHub: kevinmbuicode</li>
                <li>Instagram: kevin.mbui</li>
            </ul>  
        </div>
        <div class="icons">
            <a href="www.facebook.com" class="fa fa-facebook"></a>
            <a href="www.twitter.com" class="fa fa-twitter"></a>
            <a href="www.google.com" class="fa fa-google"></a>
            <a href="https://www.linkedin.com/in/kevinmbui/" class="fa fa-linkedin"></a>
            <a href="www.youtube.com" class="fa fa-youtube"></a>
            <a href="www.instagram.com" class="fa fa-instagram"></a>
            <a href="www.pinterest.com" class="fa fa-pinterest"></a>
            <a href="www.snapchat.com" class="fa fa-snapchat-ghost"></a>
            <a href="www.skype.com" class="fa fa-skype"></a>
        </div>
    </body>
</html>