<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'djangoapp/style.css' %}">
</head>
    <body>
        <div class="about_container">
            <h1 class="header">LOGOUT</h1>
            <p class="introduction">
                You have successfully logged out of this site.
            </p>
            <footer>
                <p>Copyright © The CapStone Project 2021</p>
            </footer>
        </div>
    </body>
</html>